body {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1.5;
   background: #f9f8f4;
   margin: 0px;
   padding-top: 54px;
  }

body > div.cover {
  min-width: 1170px;
  height: 366px;
  background: url(images/cover.png) no-repeat center;
  background-size: cover;
}



header {
  z-index: 1;
  display: block;
  width: 100%;
  height: 79px;
  position: fixed;
  background: #FFF;
  box-shadow: 2px 2px 5px #000; 
  transition: top 0.2s ease-in-out;
  top: 0;
}
.nav-up {
  top: -25px;
}

header > div.header-container {
  width: 100%;
  margin: 0 auto;
  background: #33495f;
  background: url(images/header.png);
  display: inline-block;
}

header > div.header-container > nav.user-nav {
  width: 75.5%;
  height: 25px;
  position: relative;
  display: inline-block;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
  margin-left: 11.9%;
  white-space: nowrap;
   }

header > div.header-container > nav.menu-nav{
  width: 75.5%;
   height: 55px;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
  margin-left: 11.9%;
  white-space: nowrap;
}

header > div.header-container > div.container {
  height: 56px;
  position: fixed;
  margin-left: 6px;
  width: 75%;
  display: -webkit-flex;
   -webkit-flex-flow: row;
   white-space: nowrap;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left {
  padding: 2px 4px;
  float: left;
  display: inline-block;
  width: 300px;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state, a{
  color: rgba(255,255,255,.8);
  color: #476898;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  a.login {
  margin-left: 10px;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  a.login:hover {
  color: #478acb;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll {
  display: inline-block;
  float: left;
  font-size: 16px;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe {
  width: 300px;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe > p {
  margin: 0px;
  margin-left: 3px;
  padding: 0px;
  float: left;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe > a {
  float: left;
}

header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe > ul.drop_menu {
  padding:0px;
  margin:0px;
  margin-left: -2px;
  list-style-type:none;
  height:65px;
  float: left;
  word-spacing: normal;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li { float:left; }
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li > a {
  padding:0px 5px;
  display:block;
  color:#476898;
  text-decoration:none;
  font-size: 16px;
  text-decoration: underline;
}
/* Submenu */
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li > ul {
  position:absolute;
  left:-9999px;
  top:-9999px;
  list-style-type:none;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li:hover { 
  position: relative; 
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li:hover > ul {
  left:0px;
  top:20px;
  padding:0px;
  font-size: 16px;
  text-decoration: none;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li:hover > ul > li > a {
  padding:0px;
  display:block;
  width:85px;
  text-indent:15px;
  text-decoration: none;
}
header > div.header-container > nav.user-nav > div.container > div.panel-left > div.user-logo-state > div.loginAll > div.containe >  ul.drop_menu > li:hover > ul > li > a:hover { color: #478acb; text-decoration: underline;}

header > div.header-container > nav.user-nav > div.container > div.panel-right {
  padding: 0px;
  margin: 1px 0 0;
  float: right;
  white-space: nowrap;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu {
  padding:0px;
  margin:0px;
  margin-left: -2px;
  list-style-type:none;
  height:65px;
  float: left;
  word-spacing: normal;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li {float: left;}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover {position: relative;}

 header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li > a.account-settings {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor: pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:0px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li > a.account-settings:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li > ul {
  position:absolute;
  left:-9999px;
  top:-9999px;
  list-style-type:none;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover > ul {
  width: 200px;
  position: absolute;
  left:-52px;
  top:26px;
  padding:0px;
  padding-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px #858585;
    -moz-box-shadow: 0px 1px 5px 0px #858585;
      box-shadow: 0px 1px 5px 0px #858585;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
      border-radius: 3px;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover > ul > li > div {
  font-weight: bold;
  font-family: 'Bree Serif';
  font-size: 18px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 9px;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover > ul > li > hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0px;
  margin-bottom: 15px;
  padding: 0;
  box-shadow: 0px 0px 0px #888888;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover > ul > li > a {
  padding:0px;
  display:block;
  width:85px;
  text-indent:15px;
  text-decoration: none;
  font-weight: normal;
}

header > div.header-container > nav.user-nav > div.container > div.panel-right > ul.drop_menu > li:hover > ul > li > a:hover {
  color: #478acb; 
  text-decoration: none;
  font-weight: normal;
}






header > div.header-container > nav.menu-nav > div.container > div.panel-left {
  height: 50px;
  margin-left: 30px;
  position: relative;
  float: left;
  overflow: hidden;
}

header > div.header-container > nav.menu-nav > div.container > div.panel-right {
  height: 56px;
  position: relative;
  float: right;
  overflow: hidden;
  white-space: normal;
}

header > div.header-container > nav.menu-nav > div.container > div.panel-right > ul.navigation-menu {
  height: 56px;
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
  overflow: hidden;
  white-space: nowrap;
}



header > div.header-container > nav.menu-nav > div.container > div.panel-right > a.Button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-top: 8px;
}

header > div.header-container > nav.menu-nav > div.container > div.panel-right > a.Button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
header > div.header-container > nav.menu-nav > div.container > div.panel-right > a.Button:active {
  position:relative;
  top:1px;
}

 















footer {
   display: block;
   width: 100%;
   height: 100%;
   min-height: 188px;
   box-shadow: 2px 2px 5px #888888; 
   background: url(images/footer.png);
   border-color: #202121;
   padding: 23px 0;
   position: relative;
   float:right;
   }

footer > div.footer-container {
  width: 75%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

footer > div.footer-container > ul.footer-left {
  float: left;
  margin: 0px;
}

footer > div.footer-container > ul.footer-left > li {
  float: left;
  margin: 0 35px 0 0;
  list-style: none;
}

footer > div.footer-container > ul.footer-left > li > a {
  font-size: 14px;
  color: #abaaaa;
  text-decoration: none;
}

footer > div.footer-container > ul.footer-left > li > a > h5 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

footer > div.footer-container > ul.footer-left > li > a:hover {
  color: #006694;
  text-decoration: underline;
}

footer > div.footer-container > div.footer-right {
  float: right;
  font-size: 14px;
  color: #abaaaa;
}

footer > div.footer-container > div.footer-right > div.telefon {
  text-align: right;
  
  margin: 0px 0 0 5px;
  padding: 0px 0 0 0px;
}



footer > div.footer-container > div.footer-right > div.telefon > span {
  font-size: 28px;
  margin: 0px;
}

footer > div.footer-container > div.footer-right > div.telefon > span > img {
  padding-top: 10px;
  margin-right: 10px;
}

footer > div.footer-container > div.footer-right > div.telefon > a {
  color: #abaaaa;
  text-decoration: none;
  font-weight: normal;
}

footer > div.footer-container > div.footer-right > div.footer-copywrite {
  border: 1px dotted #909090;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 30px 0 10px;
  padding: 14px 0;
}

footer > div.footer-container > div.footer-right > div.footer-copywrite > h5 {
 float: right;
 margin-top: 5px;
 text-align: right;
 font-weight: normal;
}











