body {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1.5;
   background: #f9f8f4;
   margin: 0px;
   padding-top: 54px;
  }

body > div.cover {
  min-width: 1170px;
  height: 366px;
  background: url(images/cover.png) no-repeat center;
  background-size: cover;
}




@media all and (max-width: 640px) {
  
   #main_article, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
   }

   #main_article > article, #main_article > aside {
    
    -webkit-order: 0;
            order: 0;
   }
  
   #main_article > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
}

#main_article {
  width: 76%;
  min-height: 1000px;
  margin-left: 11.7%;
  padding: 0px;
  display: -webkit-flex;
  -webkit-flex-flow: row;
}

#main_article > article {
  background-color: #fff;
  padding: 10px;
  margin: 4px;
  margin-top: 20px;
    -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
  -webkit-order: 2;
          order: 2;
  -moz-box-shadow: 0px 1px 5px 0px #858585;
-webkit-box-shadow: 0px 1px 5px 0px #858585;
box-shadow: 0px 1px 5px 0px #858585;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
      border-radius: 5px;
}


#main_article > article > div.hotel-block {
  float: left;
  margin: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  width: 30%;
  padding-right: 4px;
  padding-left: 4px;
  border: 1px #d5ddc0 solid;
  -moz-box-shadow: inset 0px 0px 9px 0px #ead1d1;
  -webkit-box-shadow: inset 0px 0px 9px 0px #ead1d1;
  box-shadow: inset 0px 0px 9px 0px #ead1d1;
}

#main_article > article > div.hotel-block > div.block-body {
  display: block;
  overflow: hidden;
  position: relative;
  background: #f9f8f4;
  cursor: pointer;
  margin-top: 3px;
}

.block-picture {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
  height: 246px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.imgWrap {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
  height: 246px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.imgDescription {
  position: absolute;
  top: 95px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #334455;
  visibility: hidden;
  opacity: 0;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
}

.imgWrap:hover {
  opacity:0.6; 
  color:#000000; 
  font-size:20px; 
  font-weight:900; 
  font-family:"Times New Roman", Times, serif;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

#main_article > article > div.hotel-block > div.block-footer {
  display: inherit;
  overflow: auto;
  position: relative;
  padding-top: 3px;
  background: #f9f8f4;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-detail {
  float: left;
  display: block;
  margin-left: 10px;
   position: relative;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-detail > div.hotel-type {
  margin-left: 5px;
  float: left;
  display: block;
  color: #373737;
  font-family: 'Bree Serif';
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  font-size: 12px;
  line-height: 12px;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-detail > div.hotel-name {
  display: block;
  color: #373737;
  font-family: 'Bree Serif';
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
 
  font-size: 17px;
  line-height: 32px;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-detail > div.hotel-location {
  float: left;
  display: block;
  color: #373737;
  font-family: 'Bree Serif';
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
 
  font-size: 12px;
  line-height: 12px;
}

#main_article > article > div.hotel-block > div.block-footer > div.rezervation {
  float: right;
  width: 104px;
  margin-top: 13px;
  
  padding-right: 5px;
  padding-left: 5px;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-description {
  float: left;

  margin-top: 5px;
  margin-bottom: 3px;
  width: 96%;
  min-height: 150px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px #d5ddc0 solid;
  -moz-box-shadow: inset 0px 0px 9px 0px #ead1d1;
  -webkit-box-shadow: inset 0px 0px 9px 0px #ead1d1;
  box-shadow: inset 0px 0px 9px 0px #ead1d1;
}

#main_article > article > div.hotel-block > div.block-footer > div.hotel-description > p {
font-weight:normal;
color:#827678;
letter-spacing:0pt;
word-spacing:0pt;
font-size:12px;
text-align:left;
font-family:lucida sans unicode, lucida grande, sans-serif;
line-height:1;
}
  
#main_article > article > .hotelContent {
  float: left;
  width: 74.5%;
  min-height: 157px;
  margin: 1px;
  padding: 10px;
  background: #f9f8f4;
  border: 1px solid #e7e4da;
  border-radius: 3px;
  border-color: #DADADA;
  box-shadow: 2px 2px 5px #888888; 
}















